<div class="overview">
  <form action="/gym/ad-details/<%= @session.id %>" method="get">
    <input type="submit" value="Back" id="button">
  </form>
  <br>
  <div class="menu">
    <h2>PLease confirm below.</h2>
    <br>
    <p>Any booked members will have their membership credited.</p>
    <form action="/gym/ad-delete/<%= @session.id %>" method="post">
      <label for="confirm">Confirm: </label>
      <input type="submit" value="Cancel Class" id="button">
    </form>
    <br><p id="break"></p><br>
    <form action="/gym/ad-update_status/<%= @session.id %>" method="post">
      <label for="confirm">Change Status: </label>
      <br>
      <select name="status">
        <option value="Open">Open</option>
        <option value="Closed">Closed</option>
        <option value="Full">Full</option>
      </select>
      <input type="submit" value="Update Status" id="button">
    </form>
  </div>
</div>
