<div class="overview">
  <form action="/gym/ad-push/<%= @teacher.id %>" method="get">
    <input type="submit" value="Back" id="button">
  </form>
  <div class="menu">
    <h2>Persons not found</h2>
  </div>
</div>
