<href class="admin-header">
  <h2>Teacher Access</h2>
  <a href="/gym">back</a>
</href>
<br>
<href>
  <form action="/gym/ad-menu" method="get">
    <p>please enter your log in details below.</p>
    <label for="user-id">Log in ID: </label>
    <input for="user-id" type="number" name="id" id="id"><br>
    <hr />
    <p>..or your details</p>
    <br>
      <label for="user-name">User Name: </label>
      <input for="user-name" type="text" name="name" id="name"><br>
        <hr />
    <input type="submit" name="submit">
  </form>
</href>
