<div class="overview">
  <form action="/gym" method="get">
    <input id="button" type="submit" value="Back">
  </form>
  <div class="menu">
    <h2>Teacher Access</h2>
    <br>
    <div>
      <form action="/gym/ad-menu" method="get">
        <p>please enter your log in details below.</p>
        <br>
        <label for="user-id">Log in ID: </label>
        <input for="user-id" type="number" name="id" id="id"><br>
        <br>
        <hr />
        <p>Available details: </p>
        <br>
        <label for="user-name">Registered teachers: </label>
        <select name="name" id="user-name">
          <% for teacher in @teachers %>
          <option value="<%= teacher.id %>"><%= teacher.id %> <%= teacher.name %></option>
          <% end %>
        </select>
        <!-- <input for="user-name" type="text" name="name" id="name"> -->
        <br>
        <hr />
        <input id="button" type="submit" name="Log In">
      </form>
    </div>
  </div>
</div>
