<div class="overview">
  <form action="/gym" method="get">
    <input id="button" type="submit" value="Back">
  </form>
  <div class="menu">
    <h2>Log In</h2>
    <br>
    <div>
      <form action="/gym/mem-menu" method="get">
        <p>please enter your log in details below.</p>
        <br>
        <label for="user-id">Log in ID: </label>
        <input for="user-id" type="number" name="id" id="id"><br><br>
        <hr />
        <p>..or your details</p>
        <br>
        <label for="user-name">User Name: </label>
        <select name="name" id="user-name">
          <% for member in @members %>
          <option value="<%= member.name %>"><%= member.name %></option>
          <% end %>
        </select>
        <!-- <input for="user-name" type="text" name="name" id="name"><br> -->
        <br>
        <hr />
        <input id="button" type="submit" name="Log In">
      </form>
    </div>
    <br>
    <a id="link" href="/gym/admin">admin account</a>
  </div>
</div>
