<div class="overview">
  <form action="/gym" method="get">
    <input type="submit" value="Back" id="button">
  </form>
  <br>
  <div>
    <h4>How you can find oud our studio:</h4>
    <img src="/find_map.jpg" alt="map location" width="80%" height="40%">
  </div>
</div>
