<div class="overview">
  <form action="/gym" method="get">
    <input type="submit" value="Back" id="button">
  </form>
  <br>
  <div>
    <h4>How you can find oud our studio:</h4>
    <img src="../public/find_map.jpg" alt="map location">
  </div>
</div>
