<div class="overview">
  <form action="/gym/<%= @address %>" method="get">
    <input type="hidden" value="<%= @user.id %>" name="id">
    <input type="submit" value="Back" id="button">
  </form>
  <br>


  <div class="menu">
    <h3>News</h3>

  </div>
</div>
