<div class="overview">
  <form action="/gym/<%= @address %>" method="get">
    <input type="hidden" value="<%= @user.id %>" name="id">
    <input type="submit" value="Back" id="button">
  </form>
  <br>
</div>

<div class="menu">
  <h3>News</h3>
  <br><br>
  <p>The Studio can be used for hire for non yoga classes by the hour, or for yoga workshops, courses and therapies at the weekends and during the week. Classes can be moved around studios to accomodate larger workshops and smaller courses.</p>
  <p><br>
    We are always looking for new teachers to join us, so please contact Sasha for details. The studio is also available for hire for massage and holistic therapies by other therapists. See Sasha for details. Weekend Hire is available.</p>
    <p><br>
      The studio holds the below equipment that can be used: Mats, swiss balls, lavender bags, pillows, ipod dock, blankets, lavender bags, candles and straps. The studio is well heated, we have changing facilities and parking.</p><br>
    </div><br>
    <div class="news_image">
      <img id="news_image" src="/ganesha_studio_1.jpg" alt="Image of main studio" width="50%" height="50%">
    </div>
  </div>
</div>
<!-- ../ganesha_studio_1.jpg -->
