<href class="front-header">
  <h2>Yoga Gym</h2>
  <href class="front-menu">
    <li>
      <a href="./">Where are we</a>
      <a href="./gym/log_in">Members</a>
      <a href="./">Join Gym</a>
    </li>
  </href>
</href>
<br>
<href class="front-box">
  <img src="./upward_facing.jpg" alt="upward bow posture">
  <br>
  <href class="front-text">
    <p>Shanti Yoga Glasgow offers a wide range of classes and therapies, all from our studio, in the West End of Glasgow.  Shanti Yoga Glasgow has been teaching and providing Yoga and holistic therapies to Yorkhill, Finnieston and Greater Glasgow for over 10 years. All of our teachers are fully qualified, experienced and full of personality and inspiration. Our experienced teachers use all tried and tested methods, not only used for centuries, but also tried out on ourselves. We only teach what we genuinely believe in and that is the promotion of health and well-being, inside and out. Check our our facebook page for regular updates about the studio and classes.</p>
    <br>
    <p>Whether the class is slow paced or fast paced, all of our Yoga classes follow a strong theme of developing focus and concentration, slowing the mind down and the meditative aspect of yoga practice. We believe that the primary aim in yoga is self enquiring, synchronising movements with the breath and yoga as a moving meditation. Flexibility and strength are by products of your practice therefore although we offer challenge and variety, there are regular reminders to stay aware by being sensitive to your body, learning to listen to your body again and thereby being honest to what your body is ready for at each moment in time. Yoga is much more than bending and balancing, its a way of life that can improve your quality of life for the better. Its about learning to not only become more aware of yourself but about everything that surrounds you. </p>
    <br>
  </href>
  <br>

  <img src="./forward_fold.jpg" alt="">

</href>
