  <form action="/gym/mem-schedule/<%= @member.id %>" method="get">
    <input type="submit" value="back">
  </form>

  <h2>Apologies, we are unable to book. Please ckeck your available membership credits.</h2>
