<div class="overview">
  <form action="/gym/mem-schedule/<%= @member.id %>" method="get">
    <input type="submit" value="Back" id="button">
  </form>
<div class="menu">
  <br><br>
  <h2>Thank you, your class has been booked.</h2>
</div>
</div>
