<href class="admin-header">
  <h2>Create New Class</h2>
  <form action="/gym/mem-menu/<%= @member.id %>" method="get">
    <input type="submit" value="back">
  </form>
</href>
<br>
<href>
  <p>Thank you your bank account has been charged.</p>
</href>
