<div class="overview">
<form action="/gym" method="get">
  <input type="submit" value="Back" id="button">
</form>
<div class="menu">
<h2>Thank you for Registering.</h2>
<br><br>
<p>Your log in ID is <%= @id %>, please save this for easier log-in</p>
</div>
</div>
