
<div class="overview">
  <form action="/gym" method="get">
    <input id="button" type="submit" value="Back">
  </form>
  <div class="terms">
    <div>

    </div>
    <div>
      <h2>Please enter new member details below.</h2><br>
      <form action="/gym/new-member" method="post">
        <label for="name">Full Name: </label>
        <input type="text" name="name" id="name" for="name"><br>
        <br>
        <label for="info">Any injuries or details your teacher should be aware of?: </label>
        <input type="text" name="info" id="info" for="info"><br>
        <br>
        <label for="waver">Please confirm you have read and understood our terms and conditions below: </label>
        <input type="checkbox" name="waver" for="waver" id="waver" value="yes"><br>
        <br>
        <input id="button" type="submit" value="Register">
      </form>
      <br><p id="break"></p><br>
      <div class="front-text">
        <p>Shanti Yoga Glasgow Heath & Studio Waiver:


          General Statement on Privacy, Personal Data, and Communications:

          If you use our website portal or App you are responsible for maintaining the confidentiality of your account, password and for restricting access to your computer or device. When using Glofox, You agree to accept responsibility for all activities that occur under your account and password.

          When you visit the website, use the app, or communicate with Shanti Yoga, via email, you are communicating electronically. You consent to receive communications from Shanti Yoga electronically. Shanti Yoga will communicate with you by text, email or by posting notifications on the facebook page, instagram, website and/or App. You understand and agree that all agreements, notices, disclosures, and other communications that Shanti Yoga provides electronically satisfy any legal requirements that such communications be in writing.</p>
          <br>
          <p>
            User Provided Information

            Shanti Yoga does not collect any personal information about individuals—such as addresses or postcodes and email address-except when such information is knowingly provided to Shanti Yoga. Personal information might be obtained from online transactions such as class/memberships (pass) purchases, retail purchases and/or class registrations. Additionally, personal information may be transmitted as part of a form submission or in connection with other activities or services made available on the website or app.  Any personal identification information retrieved from Shanti Yoga must be voluntarily submitted by the user.
          </p><p>
            Shanti Yoga may use the information provided to contact you with important information, required notices, and marketing promotions.
          </p><p>
            Additionally Collected Information

            The website and App collect some anonymous information about users automatically when individuals request pages through a browser. This information is used to keep track of the shopping cart and to help us monitor how individuals use the Website and App, which allows Shanti Yoga to provide an optimal experience and better service through the online offerings. The information collected automatically by the server does not contain anything that can identify individuals personally, such as an email or home address.
          </p><p>
            Security Statement
            Shanti Yoga makes every effort to ensure that all of the transactions that occur on the Website and App are secure. All credit cards numbers and transactions are made through the Stripe. All card numbers are encrypted on disk with AES-256. Decryption keys are stored on separate machines. None of Stripe’s internal servers and daemons are able to obtain plaintext card numbers; instead, they can just request that cards be sent to a service provider on a static whitelist. Stripe’s infrastructure for storing, decrypting, and transmitting card numbers runs in separate hosting infrastructure and doesn’t share any credentials with Stripe’s primary services (API, website, etc).
          </p><p>
            Waiver and Release

            By signing up for and/or attending classes, events, activities, retreats, and other programs and using the premises, facilities and equipment (individually and/or collectively, the “Classes and Facilities) of Shanti Yoga and its subsidiaries, you hereby acknowledge on behalf of yourself, your heirs, personal representatives and/or assigns, that there are certain risks and dangers in in-studio and our-studio Yoga and Yoga equipment in association with the Class and facilities. You acknowledge that some of these risks cannot be eliminated regardless of the care taken to avoid injuries. You also acknowledge that the specific risks vary from one activity to another, but range from (1) minor injuries such as scratches, bruises, and sprains; (2) major injuries such as eye injury, or loss of sight, joint or back injuries, heart attack, and concussions; and (3) catastrophic injuries including paralysis and death. You have read, completed and signed the Shanti Yoga Health and Safety Questionnaire prior to taking part in your first class. At all times, you shall comply with all stated and customary terms, you shall comply with all stated and customary terms, posted safety signs, rules and verbal instructions given to you, by the teachers. If in the subjective opinion of the Shanti Yoga teachers, you should be at physical risk participating in Shanti Yoga’s classes, you understand and agree that you may be denied access to the classes and facilities until you furnish Shanti Yoga Glasgow with an opinion letter from your medical doctor, at your sole cost and expense, specifically statin that Shanti Yoga Glasgow’s concerns are unfounded. In consideration of being allowed to participate in and access the classes and facilities, you hereby (1) agree to assume full responsibility for amy and  all injuries or damage which are sustained or aggravated by you in relation to the classes and facilities, (2) release, indemnify, and hold harmless Shanti Yoga Glasgow, its direct and indirect parent, subsidiary affiliate entities, and each of their respective officers, directors, members, teachers, representatives, agents and each of their respective successors and assigns and all others, from any and all responsibility, claims, actions, suits, procedures, costs, expenses, damages, and liabilities to the fullest extent allowed by law arising out of or in a way related to participation in the classes or use of the facilities and (3) represent that you (a) have no medical or physical condition that would prevent you from properly using any of the Shanti Yoga Glasgow’s classes and facilities, (b) do not have a physical or mental condition that would put you in any physical danger, and (c) have not been instructed by a physician to not participate in Yoga or physical exercise. You acknowledge that if you have any chronic disabilities or conditions, you are at risk in using Shanti Yoga Glasgow’s classes and facilities, and should not be participating in any classes. You understand that during a 1-2-1 or group training session, my instructor may have to use Touch Training to correct alignment and/or to focus my concentration on a particular muscle area to be targeted. If I feel uncomfortable or experience any type of discomfort with Touch Training, I will immediately request that it be discontinued or advise my teacher.
          </p><p>
            Cancellation Policy:

            In order to cancel a mat space that you have reserved in a Shanti Yoga Glasgow class and return the credit to your account or, in order to avoid a late cancellation fee (class credit or price), then you must cancel 7 hours before your booked time slot. Once, your class has been canceled, the credit will be returned to your account to be used again and not refunded. If you have not canceled your booking, 7 hours before your scheduled class time, you will lose your credit or you will be expected to still pay for that class. The 7-hour notice of cancellation fairly ensures that any other student, currently on the waiting list, has ample opportunity to fulfill the canceled booking space. The waiting list (up to 5 students at any one time) is executed on a first booked basis and will release any available canceled bookings in chronological order, 1st booking to 5th booking.</p>
          </div>
        </div>
      </div>
    </div>
