<form action="/gym" method="get">
  <input type="submit" value="Back">
</form>
<h2>Please enter new member details below.</h2><br>
<href>
  <form action="/gym/new-member" method="post">
    <label for="name">Full Name: </label>
    <input type="text" name="name" id="name" for="name"><br>

  </form>

</href>
